<h2>Game Mat</h2>
<div class="mydeck-cards" cdkDropList #matList="cdkDropList" [cdkDropListData]="mat"
    [cdkDropListConnectedTo]="[mydeckList]" (cdkDropListDropped)="drop($event)">
    <app-card *ngFor="let card of mat" [card]="card"></app-card>
</div>