@import '../../styles';
:host{
    position: relative;
    display: inline-block;
    transform-origin: left bottom;
    transition: 200ms all;
    z-index: 1;
    &:hover{
        z-index: 200;
        transform: translate(0, -5em) rotate(0);
    }
    &:nth-of-type(1){
        transform: translate(14em, 1em) rotate(-20deg);
        &:hover{
            transform: translate(12em, -4em) rotate(-20deg);
        }    
    }
    &:nth-of-type(3){
        transform: translate(-13em, -1em) rotate(20deg);
        &:hover{
            transform: translate(-11em, -6em) rotate(20deg);
        }    
    }
}
.card{
    user-select: none;
    position: relative;
    border-width: 0 0 2px 2px;
    border-style: none none solid solid;
    border-radius: 1rem;
    display: inline-block;
    width: 10rem;
    height: 17rem;
    padding: 1rem;
    transition: 200ms all;
    cursor: grab;
    @each $brand in $brands {
        $brandID: 0;
        @each $label,$val in $brand{
            @if $label == id{
                $brandID: $val;
            }
            &[data-brandID="#{$brandID}"]{
                background-color: var(--card-color-#{$brandID});
                border-color: var(--highlight-color-#{$brandID});
                box-shadow: 0 0 2px 0 var(--primary-color-#{$brandID});
                &:before{
                    color: var(--highlight-color-#{$brandID})
                }
                &:after{
                    color: var(--font-color-#{$brandID})
                }
                .thumb-mask{
                    background-color: var(--primary-color-#{$brandID});
                }
                .stats{
                    box-shadow: inset -5px 5px 10px transparentize(color(primary,$brandID),0.8), inset 5px -5px 10px  transparentize(color(bg,$brandID),0.6);
                    border-color:  transparentize(color(font,$brandID),.6) transparentize(color(font,$brandID),.6) transparentize(color(bg,$brandID), 0.4) transparentize(color(bg,$brandID), 0.4);
                }        
                .stat-row{
                    span{
                        background-color: var(--bg-color-#{$brandID});
                        color: var(--highlight-color-#{$brandID});
                    }
                }
            }
        }
    }
    &:before{
        content: attr(data-brand);
        position: absolute;
        left: 13px;
        top: 10px;
        font-size: 14px;
        font-weight: bold;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    &:after{
        content: attr(data-name);
        position: absolute;
        right: 13px;
        top: 10px;
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: .1em;
    }
    &:hover{
        box-shadow: 0 20px 10px 0 rgba(0,0,0,.3);
    }
    &:active{
        cursor: grabbing;
    }
    .thumb-mask{
        display: block;
        position: relative;
        height: 8rem;
        overflow: hidden;
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 50% 100%, 0% 60%, 10% 20%);
    }
    img{
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        object-fit: cover;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 50% 100%, 0% 60%, 10% 20%);
    }
    h3{
        margin: 0;
    }
    .stats{
        border-radius: 10px;
        padding: 5px 10px;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        }
    .stat-row{
        display: flex;
        height: 30px;
        align-items: center;
        label{
            margin-right: auto;
            margin-left: 0;
            vertical-align: middle;
        }
        span{
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 12px;
            font-weight: bold;
            line-height: 20px;
            border-radius: 50%;
            vertical-align: middle;
            text-align: center;
        }
    }
}