<div class="card" [attr.data-brand]="getBrandName(card.brandID)" [attr.data-brandID]="card.brandID"
    [attr.data-name]="card.name | uppercase ">
    <div class="thumb-mask">
        <img src="{{card.thumb}}" alt="{{card.name}}" />
    </div>
    <h3>Stats</h3>
    <div class="stats">
        <div class="stat-row">
            <label><strong>Strength</strong></label><span>{{card.stats.str}}</span>
        </div>
        <div class="stat-row">
            <label><strong>Intelligence</strong></label><span>{{card.stats.int}}</span>
        </div>
        <div class="stat-row">
            <label><strong>Block</strong></label><span>{{card.stats.blk}}</span>
        </div>
        <div class="stat-row">
            <label><strong>Dodge</strong></label><span>{{card.stats.dod}}</span>
        </div>
    </div>
</div>