<h2>Your Deck</h2>

<div class="example-container">
    <h2>To do</h2>

    <div cdkDropList #mydeckList="cdkDropList" [cdkDropListData]="mydeck" [cdkDropListConnectedTo]="[matList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
</div>


<app-card *ngFor="let card of mydeck" [card]="card" cdkDrag></app-card>
</div>