/* You can add global styles to this file, and also import other style files */
@use "sass:map";
$brands: (
    id:1,
    color:(
        primary: #413a60,
        highlight: #995080,
        card: #E8D2E3,
        bg: #F7F0F6,
        font: #434d4d
    )
),(
    id:2,
    color:(
        primary: #00ACDA,
        highlight: #FF441E,
        card: #E0F1FC,
        bg: #F5FCFE,
        font: #434d4d
    )
);
$brandID: 0;


:root{
    --root-bg: #f2fefe;
    --root-color: #3f3f3f;

    @each $prop in $brands {
        $brandID: 0;
        @each $label,$val in $prop{
            @if $label == id{
                $brandID: $val;
            }
            @if $label == color {
                @each $prefix,$color in $val{
                    --#{$prefix}-color-#{$brandID} : #{$color};
                }
            }
        }
    }
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--root-bg);
    color: var(--root-color);
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

html, body { height: 100%; }

@function color($color-name, $brandID) {
    @each $brand in $brands {
        $id: 0;
        @each $label,$val in $brand{
            @if $label == id{
                $id: $val;
            }
            @if $id==$brandID{
                @return map-get($brand, "color", $color-name);
            }
        }
    }
}